/* Base */
html, body
{
    height: 100%;
    min-height: 100%;
}

/* Sidebar menu */
#sidebar, main
{
    min-height: 80% !important;
}

#sidebar
{
    border-right: 1px dashed black;
}

#control
{
    transition-duration: 1s;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;

    padding: 10px;
}
#control:hover
{
    opacity: 0.9;
}

/* Sign in/up form */
#form-sign-in-up
{
    display: inline-block !important;
    width: 25%;
    text-align: right;
}

/*#form-sign-in-up-body
{
    padding: 10px;
    position: absolute;
    top: 0;
}

@media (max-width: 992px)
{
    #form-sign-in-up
    {
        display: block !important;
        max-width: 100%;
    }
}*/

/* MAIN */
/* Content */
#content[class=""]
{
    width: 100%;
}
/* Blog */
#news
{
    transition-duration: 1s;
    position: fixed;
    height: 100%;
    max-width: 50%;
    width: auto;
    right: 0;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(100, 100, 100, .5);
    padding: 10px;
}
#news:hover
{
    box-shadow: inset 0 0 5px 3px black;
    background-color: rgba(100, 100, 100, .75);
}

#news-control
{
    transition-duration: 1s;
    position: fixed;
    top: 60px;
    right: 0;
    padding: 10px;
    z-index: 999;
}

/* Top menu */
.dropdown-menu
{
    position: absolute !important;
    color: black !important;
}

/* Reviews */
.reviews
{
    margin-top: 20px;
    padding: 10px;
    display: block;

    border-left: 10px solid rgba(0, 0, 0, .25);
}

.reviews_animate
{
    width: 100%;
    position: relative;
    height: 3px;

    animation: reviews_anim 2s infinite alternate;
}

@keyframes reviews_anim {
    0% {
        background-color: white;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: red;
    }
}

.reviews .review
{
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.reviews .review:last-child
{
    border-bottom: none;
}


/* End_MAIN */

/* Additional to Bootstrap 4 Dropdown Menus */
.dropdown-submenu,
.dropdown-menu
{
    padding: 10px;
    background: rgba(211, 211, 211, 0.7);
    position: relative;
}

.dropdown-submenu:hover,
.dropdown-menu:hover
{
    background: rgba(211, 211, 211, 0.9);
}

a.dropdown-toggle.empty
{
    padding: 2px;
}

.dropdown-submenu a::after
{
    transform: rotate(-90deg);
    position: absolute;
    top: 40%;
}

.dropdown-submenu.open .dropdown-menu,
.dropdown-submenu.open .dropdown-menu
{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}

/*.dropdown-group
{
    display: flex;
    align-items: baseline;
}*/

@media (max-width: 992px)
{
    .dropdown-menu
    {
        width: 50%;
    }

    .dropdown-menu .dropdown-submenu
    {
        width: auto;
    }
}